html
{
    margin:0;
    padding:0;
    background:#eee;
}

body
{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    padding:0;
}

.hide
{
    display:none;
}

#notesPanel
{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:272px;
}

    #notesPanel > #toolbar
    {
        position:absolute;
        top:0;
        left:0;
        right:0;
        padding:12px;
        height:48px;
        box-sizing:border-box;
    }

        #notesPanel > #toolbar i.fa
        {
            display:block;
            position:relative;
            float:right;
            margin:0;
            padding:5px;
            height:20px;
            width:20px;
            font-size:20px;
            line-height:20px;
            text-align:center;
            cursor:pointer;
        }
    
    #notesPanel > ul.notes
    {
        position:absolute;
        top:46px;
        bottom:10px;
        left:10px;
        right:10px;
        background:white;
        border:1px inset #eee;
        box-sizing:border-box;
    }

#editor
{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:calc(100% - 272px);
    overflow:scroll;
}

textarea
{
    display:block;
    position:relative;
    margin:12px;
    width:calc(100% - 24px);
}

.follow
{
    display:block;
    position:relative;
    float:left;
    margin:0 24px 0 0;
    padding:3px 23px 3px 3px;
    height:20px;
    font-size:16px;
    line-height:20px;
    font-weight:normal;
    background:#69f0ae;
    border:1px solid #00c853;
}

    .follow i.fa
    {
        display:block;
        position:absolute;
        top:4px;
        right:4px;
        height:16px;
        width:16px;
        font-size:16px;
        line-height:16px;
        color:rgba(0,0,0,.9);
        cursor:pointer;
    }

        .follow i.fa
        {
            color:black;
        }

input[type="submit"]
{
    display:inline-block;
    position:relative;
    margin:12px;
    padding:7px;
    height:16px;
    font-size:16px;
    line-height:16px;
    font-weight:bold;
    text-align:center;
    color:rgba(255,255,255,.9;
    background:#448aff;
    border:1px outset #448aff;
}
